<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-warning"></i> {{message.type}}</h4>
      </div>
      <div class="modal-body">
        <p>{{message.content}}</p>
      </div>
      <div class="modal-footer">
        {{#if isWarning}}
          <button {{action "confirmed"}} type="button" class="btn btn-primary" id="proceed" >Ok</button>
          <button {{action "canceled"}} type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        {{else if isDeleting}}
          <button {{action "deleteWorkflow"}} type="button" class="btn btn-primary" id="proceed" >Ok</button>
          <button {{action "canceled"}} type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        {{else}}
          <button {{action "dismiss" message.func}} type="button" class="btn btn-primary" id="proceed" data-dismiss="modal" >Ok</button>
        {{/if}}
      </div>
    </div><!--/.modal-content-->
  </div><!--/.modal-dialog-->
</div><!-- /.modal -->
