<div class="header-block header-block-nav">
  <ul class="nav-profile">
    <li style="display: inline;" class="profile dropdown">
      <a class="header-dropdown dropdown-toggle" data-toggle="dropdown" href="#" >
        <div class="img" style="background-image: url('/assets/images/tux.jpeg')"></div>
        <span class="name">{{sessionAccount.user.firstName}} {{sessionAccount.user.lastName}}</span>
      </a>
      <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
        <div class="dropdown-divider"></div>
        {{#link-to 'home.user.edit' sessionAccount.user.id class="dropdown-item" }}
          <i class="fa fa-user icon"></i> {{t 'profile'}}
        {{/link-to}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" {{action 'invalidateSession'}}>
          <i class="fa fa-power-off icon"></i>
          {{t 'logout'}}
        </a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</div>
