<div class="header-block header-block-nav">
  <ul class="nav-profile">
    <li style="display: inline;" class="profile dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" >
        <div class="img" style="background-image: url('/assets/images/tux.jpeg')"></div>
        <span class="name">{{sessionAccount.user.firstName}} {{sessionAccount.user.lastName}}</span>
      </a>
      <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
        <div class="dropdown-divider"></div>
        {{#link-to 'user' sessionAccount.user.id class="dropdown-item" href="#"}}
          <i class="fa fa-user icon"></i> {{t 'profile'}}
        {{/link-to}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" {{action 'invalidateSession'}}>
          <i class="fa fa-power-off icon"></i>
          {{t 'logout'}}
        </a>
        <div class="dropdown-divider"></div>
      </div>
    </li>
    <li style="display: inline;" class="dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: #fff">
        <img src="/assets/images/{{sessionAccount.user.locale}}.png" style="height:20px">
      </a>
      <div class="dropdown-menu profile-dropdown-menu" style="min-width: 50px;">
        {{#each locales as |loc|}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" {{action 'setLocale' loc.id}}>
          <img src="/assets/images/{{loc.id}}.png" style="height:20px">
            {{loc.id}}
          </a>
        {{/each}}
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</div>
