<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
    <button class="collapse-btn" id="sidebar-collapse-btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="header-block header-block-search hidden-sm-down">
    <div class="header-block header-block-search hidden-sm-down">
      {{#if workflow}}
        {{#if isEditing}}
          {{input insert-newline='toggleEdit' value=workflow.name focus-out="toggleEdit"}}
        {{else}}
          <label {{action "toggleEdit"}}><a href="#" style="font-family:Open Sans; color:#3a4651; ">{{workflow.name}}    </a> </label>
          <a {{action "toggleEdit"}}> <i class="fa fa-pencil" style="position: relative; left: 10px;"></i> </a>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li>
        {{#link-to 'home' }}
        <i class="fa fa-home fa-lg"></i>
        <span>Home</span>
        {{/link-to}}
      </li>
      {{notification-bell}}
      {{profile-dropdown}}
    </ul>
  </div>
</header>
