<div class="logotype" id="lemonade-logo">
  <img class="logo" src="/assets/images/minilogo.png" />
  <span>Lemonade</span>
</div>
<ul class='sidebar-nav' id='main-sidebar'>
  <li></li>
  <li>
    {{#link-to 'home.index'}}
      <i class="fa fa-home" ></i>
      <span>{{t 'main-sidebar.home'}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'home.workflows' }}
      <i class="fa fa-flask"></i>
      <span>{{t 'main-sidebar.workflows'}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'home.jobs'}}
      <i class="fa fa-tasks" ></i>
      <span>{{t 'main-sidebar.jobs'}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'home.datasources'}}
      <i class="fa fa-database" ></i>
      <span>{{t 'main-sidebar.datasources'}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'home.dashboards'}}
      <i class="fa fa-eye" ></i>
      <span>{{t 'main-sidebar.dashboards'}}</span>
    {{/link-to}}
  </li>
</ul>
