<li class="item item-list-header hidden-sm-down">
  <div class="item-row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div class="item-col fixed item-col-check">
              <label class="item-check" {{action 'checked' on='click'}}>
                <input type="checkbox" id="select-all-items" class="checkbox">
                <span></span>
              </label>
            </div>
          </th>
          <th>
            <span>Logo</span>
          </th>
          <th>
            <span>ID</span>
            <a href="#" style="margin-left:5px; display:inline;"><em class="fa fa-unsorted" {{action 'changeSorter' 'id'}}></em></a>
          </th>
          <th>
            <span>Name</span>
            <a href="#" style="margin-left:5px; display:inline;"><em class="fa fa-unsorted" {{action 'changeSorter' 'name'}}></em></a>
          </th>
          <th>
            <span>Options</span>
          </th>
          <th>
            <span>Group</span>
          </th>
          <th>
            <span>Author</span>
            <a href="#" style="margin-left:5px; display:inline;"><em class="fa fa-unsorted" {{action 'changeSorter' 'user.name'}}></em></a>
          </th>
          <th>
            <span>Updated at</span>
            <a href="#" style="margin-left:5px; display:inline;"><em class="fa fa-unsorted" {{action 'changeSorter' 'updated'}}></em></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each pagedContent as |workflow|}}
          {{#unless workflow.isDeleted}}
            {{workflows/table-item workflow=workflow}}
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>
</li>
{{page-numbers content=pagedContent}}
{{outlet}}
