<div class="main-wrapper">
  <div class="app sidebar-fixed header-fixed footer-fixed" id="app">
    {{workflow-header workflow=workflow}}
    {{workflow-sidebar operations=operations}}
    <div class="content">
      <div id="workflow" class="row">
        {{workflow-diagram id="diagram" class="col-xs-9" workflow=workflow forms=forms filledForms=filledForms}}
        {{workflow-forms id="forms" class="col-xs-3" workflow=workflow forms=forms filledForms=filledForms}}
      </div>
    </div>
    {{workflow-footer}}
  </div>
</div>
