<button {{action 'showModal'}} class="btn btn-primary">Open Editor</button>

{{#if modalVisible}}
  {{#bs-modal onHide=(action 'hideModal') fade=false as |modal|}}
    {{#modal.header}}
      <h4>{{title}}</h4>
      <em>{{subtitle}}</em>
    {{/modal.header}}
    {{#modal.body}}
      {{#bs-tab as |tab|}}
        {{#tab.pane fade=false title="Editor" as |tab|}}
          <table class="table table-striped table-bordered">
            <thead>
              <th>Attribute</th>
              <th>Function</th>
              {{#unless isSort}}
                <th>{{column}}</th>
              {{/unless}}
              <th style="width: 25%"></th>
            </thead>
            <tbody>
              {{#each currentValue as |row i|}}
                <tr>
                  <td class='select-attr-function'>
                    <select class="form-control attr" onchange={{action (mut row.attribute) value='target.value'}} style="width: 100%">
                      <option></option>
                      {{#each suggestedAttrs as |attr|}}
                        <option value={{attr.val}} selected={{eq attr.val row.attribute}}>
                        {{attr.val}}
                        </option>
                      {{/each}}
                    </select>
                  </td>
                  <!--                  <td>{{input class="form-control" value=row.attribute}}</td> -->
                  <td>
                    <select class="form-control" onchange={{action (mut row.f) value='target.value'}} style="width:100%">
                      <option></option>
                      {{#each parsedValues as |function|}}
                        <option value={{function.key}} selected={{eq row.f function.key}}>
                        {{function.value}}
                        </option>
                      {{/each}}
                    </select>
                  </td>
                  {{#unless isSort}}
                    <td>{{input class="form-control" value=row.alias}}</td>
                  {{/unless}}
                  <td>
                    <span {{action 'removeRow' i}} class="fa fa-2x fa-minus-circle"></span>
                    <span {{action 'moveRow' i -1}} class="fa fa-2x fa-chevron-circle-up"></span>
                    <span {{action 'moveRow' i 1}} class="fa fa-2x fa-chevron-circle-down"></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <button {{action 'addRow'}} class="btn btn-success btn-sm"><span class="fa fa-plus-circle"></span> Add</button>
        {{/tab.pane}}
        {{#tab.pane fade=false title="Reference" as |tab|}}
          <table class="table-striped table-bordered table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{#each parsedValues as |function|}}
                <tr>
                  <td>{{function.value}}</td>
                  <td>{{function.help}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/tab.pane}}
      {{/bs-tab}}
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button id="okButton" onClick=(action 'valueChanged') type="success"}}OK{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}
