<button {{action 'showModal'}} class="btn btn-primary">Open Editor</button>

{{#if modalVisible}}
  {{#bs-modal onHide=(action 'hideModal') fade=false as |modal|}}
    {{#modal.header}}
      <h4>Expression</h4>
      <em>Construct an expression to transform data</em>
    {{/modal.header}}
    {{#modal.body}}
      <h4>Function reference</h4>
      {{#bs-tab as |tab|}}
        {{#each parsedValues as |value i|}}
          {{#tab.pane fade=false title=value.category as |tab|}}
            <table class="table-striped table-bordered table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Syntax</th>
                </tr>
              </thead>
              <tbody>
                {{#each value.functions as |function|}}
                  <tr>
                    <td>{{function.name}}</td>
                    <td>{{function.help}}</td>
                    <td>{{function.syntax}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/tab.pane}}
        {{/each}}
      {{/bs-tab}}
      {{input id="typeExpression" value=currentValue type="textarea" key-up='parseExpression' type="text" class="form-control"}}
      <div id="resultExpression" class="alert" />
    {{/modal.body}}
    {{#modal.footer}}
      {{#bs-button id="cancelButton" onClick=(action modal.close) type="secondary"}}Cancel{{/bs-button}}
      {{#bs-button id="okButton" onClick=(action 'valueChanged') type="success"}}OK{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
{{/if}}
