<div class="row sameheight-container">
  <div class="col-xs-12 col-lg-6">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg" >
      <div class="card-header bordered">
        <div class="header-block">
          <h4 class="title">
            Terms Frequency
          </h4>
          <p class="title-description"> Most frequent terms in selected database: {{database}} </p>
        </div>
      </div>
      <ul class="item-list striped">
        <li class="item item-list-header hidden-sm-down">
          <div class="item-row">
            <div class="item-col item-col-header fixed item-col-img xs"></div>
            <div class="item-col item-col-header item-col-title">
              <div> <span>Term</span> </div>
            </div>
            <div class="item-col item-col-header item-col-sales">
              <div> <span>Ocurrency</span> </div>
            </div>
          </div>
        </li>
        {{#each terms.frequent as |term|}}
          <li class="item">
            <div class="item-row">
              <div class="item-col item-col-title no-overflow">
                <div class="item-heading">Term</div>
                <div>
                  <a href="" class="">
                    <h4 class="item-title no-wrap center">
                      {{term.name}}
                  </h4> </a>
                </div>
              </div>
              <div class="item-col item-col-sales">
                <div class="item-heading">Ocurrency</div>
                <h6>{{term.ocurrency}} </h6>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="card sameheight-item items" data-exclude="xs,sm,lg" >
      <div class="card-header bordered">
        <div class="header-block">
          <h4 class="title">
            Pre-defined Terms Frequency
          </h4>
          <p class="title-description"> Most frequent pre-defined terms selected with the dictionary {{dictionary}} in the database {{database}} </p>
        </div>
      </div>
      <ul class="item-list striped">
        <li class="item item-list-header hidden-sm-down">
          <div class="item-row">
            <div class="item-col item-col-header fixed item-col-img xs"></div>
            <div class="item-col item-col-header item-col-title">
              <div> <span>Term</span> </div>
            </div>
            <div class="item-col item-col-header item-col-sales">
              <div> <span>Ocurrency</span> </div>
            </div>
          </div>
        </li>
        {{#each terms.preDefined as |term|}}
          <li class="item">
            <div class="item-row">
              <div class="item-col item-col-title no-overflow">
                <div class="item-heading">Term</div>
                <div>
                  <a href="" class="">
                    <h4 class="item-title no-wrap center">
                      {{term.name}}
                  </h4> </a>
                </div>
              </div>
              <div class="item-col item-col-sales">
                <div class="item-heading">Ocurrency</div>
                <h6>{{term.ocurrency}} </h6>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
