<div class='log'>
  <i class="fa fa-list-ul"></i><span>Job's Log</span>
</div>
<ul class="tasks-list metismenu" id="tasks-list">
  {{#each stepsLogs as |step|}}
    <li class="step-log">
      <a href="#">
        <i class="fa fa-lg {{step.operation.icon}}"></i>
        <span>{{step.operation.name}}</span>
        {{#if (not-eq step.status 'RUNNING')}}
          <i class="{{check-content step}}" style="float:right;"></i>
        {{/if}}
      </a>
      <ul>
        {{#if (eq step.status 'COMPLETED')}}
          <a {{action 'sendID' step.task.id}}>{{t 'job.show.logger.success'}}</a>
        {{else if (eq step.status 'ERROR')}}
          <a {{action 'sendID' step.task.id}}>{{t 'job.show.logger.error'}}</a>
        {{else}}
          {{#each step.logs as |log|}}
            {{jobs/job-logger-content log=log taskId=step.task.id openLogs=openLogs status=step.status}}
          {{/each}}
        {{/if}}
      </ul>
    </li>
  {{/each}}
</ul>
