<div style="width:100%; height: 100%">
  <div style="width: 100%; height: 90%; display: inline-flex">
    <div class="lemonade-container" id="lemonade-container" style="">
      {{jobs/job-draw id="lemonade-diagram" class="lemonade col-xs-12" workflow=workflow steps=steps job=job operations=operations stepsLogs=stepsLogs generateLogs=(action "generateLogs")}}
    </div>
    {{jobs/job-logger id="job-logger" job=job stepsLogs=stepsLogs operations=operations}}
  </div>
  <div style="width: 102%; height: 15%;margin-left:-15px; background-color:#61D095;">
    <div class="job-name" style="padding-top: 20px; padding-left: 30%;">
      {{#unless (eq job.status 'completed')}}
        <h3> {{actualTask}} : {{message}}</h3>
      {{else}}
        <h3 class="title">{{t 'job.show.logger.information'}} </h3>
      {{/unless}}
    </div>
  </div>
</div>
