<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr class="table-header">
          <th class="id">
            <span>{{t 'tables.id'}}</span>
            {{link-to "" (query-params sort="id" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="id" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="name">
            <span>{{t 'workflow.self'}}</span>
            {{link-to "" (query-params sort="workflow_name" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="workflow_name" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="status">
            <span>{{t 'tables.status'}}</span>
            {{link-to "" (query-params sort="status" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="status" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="date">
            <span>{{t 'tables.started'}}</span>
            {{link-to "" (query-params sort="created" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="created" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="date">
            <span>{{t 'tables.finished'}}</span>
            {{link-to "" (query-params sort="finished" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="finished" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |job|}}
          <tr class="table-item">
            <td class="id">
              {{#link-to 'home.jobs.show' job.id}}
                <span>{{job.id}}</span>
              {{/link-to}}
            </td>
            <td class="name">
              {{#link-to 'home.jobs.show' job.id}}
                <span>  {{job.workflow.name}} </span>
              {{/link-to}}
            </td>
            <td class="status">
              {{#link-to 'home.jobs.show' job.id class="job" class=job.status}}
                <span class="status-icon"></span><h4>{{t job.status}}</h4>
              {{/link-to}}
            </td>
            <td class="date">
              <span>{{format-date job.created}}</span>
            </td>
            <td class="date">
              {{#if job.finished}}
                <span>{{format-date job.finished}}</span>
              {{else}}
                <span>{{job.status}}</span>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{table-paginate content=model}}
    {{outlet}}
  </div> <!-- col-xs-12 -->
</div> <!-- row -->
