{{#bs-modal open=modal backdrop=false backdropClose=true class="logger-modal" fade=fade onHidden=(action (mut modal) false) as |modal| }}
  {{#modal.header}}
    {{#if content.title}}
      <h4 class="modal-title">
        <i class="fa fa-lg fa-exclamation"></i>
        {{content.title}}
      </h4>
    {{else}}
      <h4 class="modal-title">
      <i class="fa fa-lg {{icone}}"></i>
        {{name}}
      </h4>
    {{/if}}
  {{/modal.header}}
  {{#modal.body}}
  <ul class="tasks-list metismenu" id="tasks-list">
    {{#if content.message}}
      <div id="flashError" class="alert alert-danger" style="list-style-type: none;">
        {{job.status_text}}
      </div>
    {{else}}
      {{#each stepsLogs as |step|}}
        {{#if (eq step.task.id content.target)}}
        <li>
          {{#if (eq step.status 'ERROR')}}
            <div id="flashError" class="alert alert-danger" style="list-style-type: none;">
              {{job.status_text}}
            </div>
          {{else}}
            {{#each step.logs as |log|}}
              {{jobs/job-logger-content log=log modal=true}}
            {{/each}}
          {{/if}}
        </li>
        {{/if}}
      {{/each}}
    {{/if}}
</ul>

  {{/modal.body}}
  {{#modal.footer}}
    {{#if content.submitButton}}
      {{#bs-button type="success" onClick=onSubmit}}{{t content.submitButton count=count}}{{/bs-button}}
    {{else}}
      {{#bs-button type="success" onClick=(action 'submit')}}{{t 'modal.default.submitButton'}}{{/bs-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
