<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 name-editor">
  <span class="form-control underlined"> {{job.workflow.name}} </span>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-2 status {{job.status}}" id="job-status">
  <span class="status-icon"></span><span class="text">{{job.status}}</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 buttons">
  {{#link-to 'workflow.draw' job.workflow.id  class="workflow btn btn-primary btn-md"}}
    <i class="fa fa-flask fa-lg"></i><span>Workflow</span>
  {{/link-to}}

  {{#if hasFinished}}
    {{#link-to 'job.results' job.id class="results btn btn-primary btn-md
      flash-button"}}
      <i class="fa fa-eye fa-lg"></i><span>Results</span>
    {{/link-to}}
  {{else if isRunning}}
    <a onclick={{action 'stop'}} class="stop btn btn-primary btn-md">
      <i class="fa fa-stop"></i><span>Stop</span>
    </a>
  {{/if}}
  <a href="#" onclick={{action 'showLog'}} class="log btn btn-primary btn-md">
    <i class="fa fa-list-ul"></i><span>Log</span>
  </a>
</div>
