<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 job-name">
  <h3 class="title"> {{job.workflow.name}} </h3>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 status {{job.status}}" id="job-status">
  <span class="status-icon"></span><span class="text">{{t job.status}}</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 buttons">
  <a class="log btn btn-primary btn-md" {{action 'toggleModalCode'}}>
    <i class="fa fa-code flask fa-lg"></i><span>{{t 'job.show.code'}}</span>
  </a>
  {{#link-to 'home.workflows.draw' job.workflow.id  class="workflow btn btn-primary btn-md"}}
    <i class="fa fa-flask fa-lg"></i><span>{{t 'job.show.workflow'}}</span>
  {{/link-to}}

  {{#if hasFinished}}
    {{#link-to 'home.jobs.results' job.id class="results btn btn-primary btn-md
      flash-button"}}
      <i class="fa fa-eye fa-lg"></i><span>{{t 'job.show.results'}}</span>
    {{/link-to}}
  {{else if isRunning}}
    <a onclick={{action 'stop'}} class="stop btn btn-primary btn-md">
      <i class="fa fa-stop"></i><span>{{t 'job.show.stop'}}</span>
    </a>
  {{/if}}
  <a href="#" onclick={{action 'showLog'}} class="log btn btn-primary btn-md">
    <i class="fa fa-list-ul"></i><span>{{t 'job.show.log'}}</span>
  </a>
</div>
{{jobs/source-code-modal modal=modalCode content=content class='source-code-modal'}}
