{{#bs-modal open=modal class='source-code-modal' backdrop=false backdropClose=true fade=fade onHidden=(action (mut modal) false) as |modal| }}
  {{#modal.header}}
    <h4 class="modal-title">
      {{#if content.title}}
        {{t content.title jobId=content.jobId}}
      {{else}}
        {{t 'modal.default.title'}}
      {{/if}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <pre>
      <code id='job-source-code'>
      </code>
    </pre>
  {{/modal.body}}
  {{#modal.footer}}
    {{#if content.cancelButton}}
      {{#bs-button onClick=onCancel}}{{t content.cancelButton}}{{/bs-button}}
    {{else}}
      {{#bs-button onClick=(action 'cancel')}}{{t 'modal.default.cancelButton' count=count}}{{/bs-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
