<td>{{job.id}}</td>
<td>{{job.workflow.name}}</td>
<td><i class="fa fa-sliders fa-lg" style="font-size: 30px;color:red;
    margin-left:14px;"></i></td>
<td>{{format-date job.created}}</td>
<td>
  {{#if job.hasCompleted}}
    {{format-date job.finished}}
  {{else}}
    -
  {{/if}}
</td>
