{{main-sidebar datasourcesActive='active'}}
<article class="content items-list-page">
  {{datasources.button-bar}}
  <div class="card items">
    <ul class="item-list striped">
      {{datasources.table-header}}
      {{#each model as |datasource|}}
        {{datasources.table-item datasource=datasource}}
      {{/each}}
    </ul>
  </div>
</article>
{{outlet}}
