{{home-sidebar indexActive='active'}}
<article class="content dashboard-page">
  <section class="section">
    <div class="row sameheight-container">
      {{cards.card-video-tutorial title="Basic Tutorial" youtubeID="5_sHXJC9ocA" class="col-xs-12 col-sm-9 col-md-8 col-lg-6 col-xl-5"}}
      {{dashboard.history-graph}}
    </div>
  </section>
  <section class="section map-tasks">
    <div class="row sameheight-container">
      {{dashboard.map-graph}}
      {{dashboard.task-board}}
    </div>
  </section>
</article>
{{outlet}}
