{{home-sidebar indexActive='active'}}
<article class="content dashboard-page">
  <section class="section">
    <div class="row sameheight-container">
      {{cards.card-video-tutorial videoTutorial=model.videoTutorial}}
      {{cards.card-release-notes releaseNotes=model.releaseNotes}}
    </div>
  </section>
  <section class="section map-tasks">
    <div class="row sameheight-container">
      {{dashboard.map-graph}}
      {{dashboard.task-board}}
    </div>
  </section>
</article>
{{outlet}}
