{{main-sidebar indexActive='active'}}
<article class="content dashboard-page">
  <section class="section">
    <div class="row sameheight-container">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6">
        {{cards.card-video-tutorial videoTutorial=model.videoTutorial}}
        {{cards.card-release-notes releaseNotes=model.releaseNotes}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
        {{cards.card-latest-workflows workflows=model.workflows}}
        {{cards.card-latest-jobs workflows=model.workflows jobs=model.jobs}}
      </div>
    </div>
  </section>
</article>
{{outlet}}
