{{main-sidebar jobsActive='active'}}
<article class="content items-list-page">
  {{jobs/button-bar}}
  <div class="card items">
    <table class="table table- striped">
      <thead>
        {{jobs/table-header}}
      </thead>
      <tbody>
      {{#each model as |job|}}
        {{jobs/table-item job=job}}
      {{/each}}
      </tbody>
    </table>
  </div>
</article>
{{outlet}}
