{{home-sidebar workflowActive='active'}}
<article class="content items-list-page">
  {{workflows.button-bar}}
  <div class="card items">
    <ul class="item-list striped">
      {{workflows.table-header}}
      {{#each model as |workflow|}}
        {{workflows.table-item workflow=workflow}}
      {{/each}}
    </ul>
  </div>
</article>
{{outlet}}
