<div id="flashSuccess" class="alert alert-success" style="display:none">
  <span>{{t 'alert.delete.workflow.success'}}</span>
</div>
<div id="flashError" class="alert alert-danger" style="display:none">
  <span>{{t 'alert.delete.workflow.error'}}</span>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr class="table-header">
          <th class="checkbox">
            <label class="label-checkbox" {{action 'checked' on='click'}}>
              <input type="checkbox" id="select-all-items" class="input-checkbox">
              <span></span>
            </label>
          </th>
          <th class="logo">
            <span>{{t 'logo'}}</span>
          </th>
          <th class="id">
            <span>{{t 'id'}}</span>
            <a class="arrow-sorter" href="#">
              <em class="fa fa-unsorted" {{action 'changeSorter' 'numericID'}}></em>
            </a>
          </th>
          <th class="name">
            <span>{{t 'name'}}</span>
            <a class="arrow-sorter"href="#">
              <em class="fa fa-unsorted" {{action 'changeSorter' 'name'}}></em>
            </a>
          </th>
          <th class="options">
            <span>{{t 'options'}}</span>
          </th>
          <th class="author">
            <span>{{t 'author'}}</span>
            <a class="arrow-sorter" href="#">
              <em class="fa fa-unsorted" {{action 'changeSorter' 'user.name'}}></em>
            </a>
          </th>
          <th class="date">
            <span>{{t 'updatedAt'}}</span>
            <a class="arrow-sorter" href="#">
              <em class="fa fa-unsorted" {{action 'changeSorter' 'updated'}}></em>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each pagedContent as |workflow|}}
          {{#unless workflow.isDeleted}}
            {{workflows/item-list-workflow workflow=workflow locale=locale}}
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
    {{table-paginate content=pagedContent}}
    {{outlet}}
  </div> <!-- col-xs-12 -->
</div> <!-- row -->
