<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox">
        <span></span>
      </label>
    </div>
    <div class="item-col fixed item-col-img md">
      {{#link-to 'workflow.params' workflow.id class='workflow'}}
        <div class="item-img rounded" style="background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSCygJA-ekdyncq1BI1okQKzwnSo-JEad-yFyI5LOfNYE874K50)"></div>
      {{/link-to}}
    </div>
    <div class="item-col item-col-id no-overflow">
      <div class="item-heading">ID</div>
      <div class="no-overflow">
        {{#link-to 'workflow.draw' workflow.id class='workflow'}} {{workflow.id}} {{/link-to}}
      </div>
    </div>
    <div class="item-col fixed pull-left item-col-title">
      <div class="item-heading">Name</div>
      <div>
        {{#link-to 'workflow.draw' workflow.id}} <h4 class="item-title">  {{workflow.name}} </h4> {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-options">
      <div class="item-heading">Options</div>
      <div class="container">
      <div class="row">
        <div class="icon col-xs-3 col-sm-6 col-xl-3 text-center">
          {{#link-to 'workflow.params' workflow.id }}<i class="fa fa-sliders fa-lg"></i>{{/link-to}}
        </div>
        <div class="icon col-xs-3 col-sm-6 col-xl-3">
      {{#link-to 'workflow.edit' workflow.id }}<i class="fa fa-cog fa-lg"></i>{{/link-to}}
        </div>
      <div class="icon col-xs-3 col-sm-6 col-xl-3">
      {{#link-to 'workflow.draw' workflow.id }}<i class="fa fa-pencil fa-lg"></i>{{/link-to}}
      </div>
      <div class="icon col-xs-3 col-sm-6 col-xl-3">
      <a class="remove" {{action 'deleteWorkflow' workflow}} href="#" > <i class="fa fa-trash-o fa-lg"></i></a>
      </div>
      </div>
    </div>
    </div>
    <div class="item-col item-col-category no-overflow">
      <div class="item-heading">Category</div>
      <div class="no-overflow">
        {{#link-to 'group' 0}} UFMG {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-author">
      <div class="item-heading">Author</div>
      <div class="no-overflow">
        {{#link-to 'user' workflow.user.id}}
        <h4 class="item-title"> {{workflow.user.name}} </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-date">
      <div class="item-heading">Created</div>
      <div class="no-overflow"> {{workflow.updated}} </div>
    </div>
  </div>
</li>
