<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox">
        <span></span>
      </label>
    </div>
    <div class="item-col fixed item-col-img md">
      {{#link-to 'workflow.edit' id class='workflow'}}
      <div class="item-img rounded" style="background-image: url(http://www.clker.com/cliparts/3/a/e/b/1346440375869169067LemonandLime.svg.med.png)"></div>
      {{/link-to}}
    </div>
    <div class="item-col item-col-stats no-overflow">
      <div class="item-heading">ID</div>
      <div class="no-overflow">
        {{#link-to 'workflow.edit' id class='workflow'}}
        {{id}}
        {{/link-to}}
      </div>
    </div>
    <div class="item-col fixed pull-left item-col-title">
      <div class="item-heading">Name</div>
      <div>
        {{#link-to 'workflow.edit' id}}
        <h4 class="item-title">	{{name}} </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-stats no-overflow">
      <div class="item-heading">Stats</div>
      <div class="no-overflow">
        <div class="item-stats sparkline" data-type="bar">
          <canvas width="84" height="23" style="display: inline-block; width: 84px; height: 23px; vertical-align: top;"></canvas>
        </div>
      </div>
    </div>
    <div class="item-col item-col-category no-overflow">
      <div class="item-heading">Category</div>
      <div class="no-overflow">
        {{#link-to 'group' 0}}
        Software
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-author">
      <div class="item-heading">Author</div>
      <div class="no-overflow">
        {{#link-to 'user' authorId}}
        <h4 class="item-title"> {{author}} </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-date">
      <div class="item-heading">Created</div>
      <div class="no-overflow"> {{updated}} </div>
    </div>
    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown">
        <a class="remove" {{action 'deleteWorkflow'}} href="#" > <i class="fa fa-trash-o "></i></a>
        {{#link-to 'workflow.config' id }}
        <i class="fa fa-pencil"></i>
        {{/link-to}}
      </div>
    </div>
  </div>
</li>
