<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox">
        <span></span>
      </label>
    </div>
    <div class="item-col fixed item-col-img md">
      {{#link-to 'workflow.draw' workflow.id class='workflow'}}
        <div class="item-img rounded" style="background-image: url(http://www.clker.com/cliparts/3/a/e/b/1346440375869169067LemonandLime.svg.med.png)"></div>
      {{/link-to}}
    </div>
    <div class="item-col item-col-stats no-overflow">
      <div class="item-heading">ID</div>
      <div class="no-overflow">
        {{#link-to 'workflow.draw' workflow.id class='workflow'}} {{workflow.id}} {{/link-to}}
      </div>
    </div>
    <div class="item-col fixed pull-left item-col-title">
      <div class="item-heading">Name</div>
      <div>
        {{#link-to 'workflow.draw' workflow.id}} <h4 class="item-title">	{{workflow.name}} </h4> {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-stats no-overflow">
      <div class="item-heading">Stats</div>
      <div class="no-overflow"></div>
    </div>
    <div class="item-col item-col-category no-overflow">
      <div class="item-heading">Category</div>
      <div class="no-overflow">
        {{#link-to 'group' 0}} UFMG {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-author">
      <div class="item-heading">Author</div>
      <div class="no-overflow">
        {{#link-to 'user' workflow.user_id}}
        <h4 class="item-title"> {{workflow.user_name}} </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-date">
      <div class="item-heading">Created</div>
      <div class="no-overflow"> {{workflow.updated}} </div>
    </div>
    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown">
        <a class="remove" {{action 'deleteWorkflow' workflow}} href="#" > <i class="fa fa-trash-o "></i></a>
        {{#link-to 'workflow.edit' workflow.id }}
        <i class="fa fa-pencil"></i>
        {{/link-to}}
      </div>
    </div>
  </div>
</li>
