<div class="container">
  <div class="row">
    {{#if isComment}}
      <div class="col-xs-11 comment-note">
      <div class="comment-text">
          <span>{{comment}}</span>
      </div>
      </div>
    {{else}}
      <div class="col-xs-11 operation">
        <span class="operation-name">
          <i class="fa {{operation.icon}}"></i>{{operation.name}}
        </span>
        <div class="comment-task">
          <span>{{comment}}</span>
        </div>
      </div>
    {{/if}}
    <div class="col-xs-1 delete-btn">
      <i onclick={{action "onDestroy"}} href="#" class="fa fa-trash-o"></i>
    </div>
  </div>
</div>
