<div id="flashSuccess" class="alert alert-success" style="display:none">
  <span>{{t 'alert.delete.datasource.success'}}</span>
</div>
<div id="flashError" class="alert alert-danger" style="display:none">
  <span>{{t 'alert.delete.datasource.error'}}</span>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr class="table-header">
          <th class="id">
            <span>{{t 'tables.id'}}</span>
            {{link-to "" (query-params sort="id" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="id" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="name">
            <span>{{t 'tables.name'}}</span>
            {{link-to "" (query-params sort="name" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="name" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="options">
            <span>{{t 'tables.options'}}</span>
          </th>
          <th class="author">
            <span>{{t 'tables.author'}}</span>
            {{link-to "" (query-params sort="user_name" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="user_name" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="size">
            <span>{{t 'tables.size'}}</span>
            {{link-to "" (query-params sort="estimated_size_in_mega_bytes" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="estimated_size_in_mega_bytes" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="format">
            <span>{{t 'tables.format'}}</span>
            {{link-to "" (query-params sort="format" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="format" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
          <th class="date">
            <span>{{t 'tables.created'}}</span>
            {{link-to "" (query-params sort="created" asc="true") class="arrow-sorter fa fa-arrow-up"}}
            {{link-to "" (query-params sort="created" asc="false") class="arrow-sorter fa fa-arrow-down"}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each datasources as |datasource|}}
          <tr class="table-item">
            <td class="id">
              <span class="">{{datasource.id}}</span>
            </td>
            <td class="name">
              {{#link-to 'home.datasources.edit' datasource.id}}
                <span>  {{datasource.name}} </span>
              {{/link-to}}
            </td>
            <td class="options">
              <a href={{concat limoneroUrl datasource.id endPoint}} >
                <i rel="tooltip" title="" class="fa fa-download fa-lg"></i>
              </a>
              <a href='#' {{action 'share' datasource}}>
                <i rel="tooltip" title="" class="fa fa-share-alt fa-lg"></i>
              </a>
              {{#link-to 'home.datasources.edit' datasource.id}}
                <i rel="tooltip" title="" class="fa fa-pencil fa-lg"></i>
              {{/link-to}}
              <a class="remove" {{action 'deleteDatasource' datasource}} href="#" >
                <i rel="tooltip" title="Delete this datasource" class="fa fa-trash-alt fa-lg"></i>
              </a>
            </td>
            <td class="author">
              <span class="">{{datasource.user_name}}</span>
            </td>
            <td class="size">
              <span class="">{{datasource.estimated_size_in_mega_bytes}}</span>
            </td>
            <td class="format">
              <span class="">{{datasource.format}}</span>
            </td>
            <td class="date">
              <span>{{format-date datasource.created}}</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{table-paginate content=datasources}}
  </div> <!-- col-xs-12 -->
</div> <!-- row -->
{{datasources/share-modal shareModal=shareModal datasource=shareDatasource users=users permissions=shareDatasource.permissions}}
{{confirmation-modal modal=modal content=modalContent resource=toDelete onSubmit=(action 'submit')}}
