<li class="item">
  <div class="item-row">
    <div class="item-col fixed item-col-check">
      <label class="item-check" id="select-all-items">
        <input type="checkbox" class="checkbox">
        <span></span>
      </label>
    </div>
    <div class="item-col fixed item-col-img md">
      {{#link-to 'datasource.edit' datasource.id class='datasource'}}
        <div class="item-img rounded" style="background-image: url(http://www.clker.com/cliparts/3/a/e/b/1346440375869169067LemonandLime.svg.med.png)"></div>
      {{/link-to}}
    </div>
    <!--
      <div class="item-col item-col-id no-overflow">
      <div class="item-heading">ID</div>
      <div class="no-overflow">
      {{#link-to 'datasource.edit' datasource.id class='datasource text-center'}}
        {{datasource.id}}
      {{/link-to}}
      </div>
      </div>
    -->
    <div class="item-col fixed pull-left item-col-title">
      <div class="item-heading">Name</div>
      <div>
        {{#link-to 'datasource.edit' datasource.id}}
          <h4 class="item-title">
            {{datasource.name}}
          </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-size no-overflow">
      <div class="item-heading">Size</div>
      <div class="no-overflow">
        {{#link-to 'datasource.edit' datasource.id class='datasource'}}
          {{datasource.size}}
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-type no-overflow">
      <div class="item-heading">Type</div>
      <div class="no-overflow">
        {{#link-to 'datasource.edit' datasource.id class='datasource'}}
          {{datasource.data_type}}
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-category no-overflow">
      <div class="item-heading">Category</div>
      <div class="no-overflow">
        {{#link-to 'group' 0}} UFMG {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-author">
      <div class="item-heading">Author</div>
      <div class="no-overflow">
        {{#link-to 'user' datasource.user.id}}
          <h4 class="item-title"> {{datasource.user_id.firstname}} </h4>
        {{/link-to}}
      </div>
    </div>
    <div class="item-col item-col-date">
      <div class="item-heading">Created</div>
      <div class="no-overflow"> {{datasource.created_at}} </div>
    </div>
    <div class="item-col fixed item-col-actions-dropdown">
      <div class="item-actions-dropdown">
        <a class="remove" {{action 'deleteDatasource' datasource}} href="#" > <i class="fa fa-trash-o "></i></a>
        {{#link-to 'datasource.edit' datasource.id }}
          <i class="fa fa-pencil"></i>
        {{/link-to}}
      </div>
    </div>
  </div>
</li>
