<div id="job-diagram-container-wrapper" class="container-fluid toggled">
  <div class="job-option-bar row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 job-name">
      <h3 class="title"> {{model.job.workflow.name}} </h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-2 status {{model.job.status}}" id="job-status">
      <span class="status-icon"></span><span class="text">{{t model.job.status}}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 buttons">
      {{#link-to 'job.show' model.jobId class="log btn btn-primary btn-md"}}
        <i class="fa fa-cube fa-lg"></i><span>{{t 'job.self'}}</span>
      {{/link-to}}
      {{#link-to 'job.results' model.job.id class="results btn btn-primary btn-md"}}
        <i class="fa fa-eye fa-lg"></i><span>{{t 'job.show.results'}}</span>
      {{/link-to}}
      {{#link-to 'workflow.draw' model.job.workflow.id  class="workflow btn btn-primary btn-md"}}
        <i class="fa fa-flask fa-lg"></i><span>{{t 'job.show.workflow'}}</span>
      {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5 class="title">{{t 'job.results.title' resource=(t (concat 'visualizations.' model.visu '.self'))}}</h5>
      <div class="col-sm-12" style="height: 500px">
        {{visualizations/vis-wrapper viz=model dataUrl=model.dataUrl}}
      </div>
    </div>
  </div>
</div>
