<div class="auth">
  <div class="auth-container col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <header class="auth-header">
      {{#link-to 'landing-page'}}<img src="/assets/images/logo2.png" alt="" height = 40px;>{{/link-to}}
    </header>
    <div class="auth-content">
      {{#if successMessage}}
        <h1> {{t 'password.reset.success'}}</h1>
        <div class="form-group clearfix">
          <a class="pull-right" > {{#link-to "login"}}{{t 'forms.returnLogin'}}{{/link-to}}</a>
          <a class="pull-left" > {{#link-to "signup"}}{{t 'forms.signUp'}}!{{/link-to}}</a>
        </div>
        {{ else }}
        <form id="login-form" {{action 'request' on='submit'}}>
          <div class="form-group" id="email">
            <label for="email">{{t 'forms.email.label'}}</label>
            {{input type='email' class='form-control underlined' name='email' placeholder=(t 'forms.email.placeholder') value=email required=true}}
          </div>
          <div class="form-group" id="error-message">
            {{#if errorMessage}} <span class="has-error">{{t 'password.reset.error'}} {{errorMessage}}</span> {{/if}}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary" disabled={{processingRequest}}>{{t 'password.reset.submit'}}</button>
          </div>
          <div class="form-group clearfix">
            <a class="pull-right" > {{#link-to "login"}}{{t 'forms.returnLogin'}}{{/link-to}}</a>
            <a class="pull-left" > {{#link-to "signup"}}{{t 'forms.signUp'}}!{{/link-to}}</a>
          </div>
        </form>
      {{/if}}
    </div>
  </div>
</div>
