<div class="gViz-header">
	<div class='symbol'>
		<span class="fa-stack fa-lg">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-list fa-stack-1x fa-inverse"></i>
		</span>
	</div>
	<span class='title'>{{title}}</span>
	<!-- <span class='subtitle'>{{subtitle}}</span> -->
</div>

<br>

<div class='gViz-wrapper table-chart' data-id={{_id}} style={{style}}>

  <div class="row">
    <div {{action "sortTable" "name"}} class="col-md-5 cell title" title="{{_columns.[0]}}">{{_columns.[0]}}</div>
    <div {{action "sortTable" "value"}} class="col-md-2 cell title" title="{{_columns.[1]}}">{{_columns.[1]}}</div>
    <div {{action "sortTable" "value"}} class="col-md-5 cell title" title="{{_columns.[2]}}">{{_columns.[2]}}</div>
  </div>


  <div id="{{_id}}">

    {{#each _data as |row|}}

      <div class="row alternate-colours" sort-by-name="{{row.name}}"
                                         sort-by-value="{{row.avg}}">
        <div class="col-md-5 cell name" title="{{row.name}}">{{row.name}}</div>
        <div class="col-md-2 cell">{{row.avg}}</div>
        <div class="col-md-5 cell">
          <div class="progress pull-right">
            <div class="progress-bar" role="progressbar"
                                      aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                                                           style={{row.style}}>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>
