<div class="card-wrap">
 <div class="vis-card">
   <img class="vis-icon" src="{{image}}" alt={{name}}>
  </div>
  <div class="vis-name" title="{{name}}">
    <i class="fa {{icon}} fa-lg"></i>
    {{name}}
  </div>
</div>
