<div class='gViz-wrapper gViz-table-wrapper' data-id={{_id}} style='{{myStyle}}'>
  <div class='gViz-table-wrapper-scroll' style='{{myTableStyle}}' >
    {{{body}}}
    {{#if isEmpty}}
      <h5 class="no-data" style="padding-top: {{paddingTop}}px; text-align: center;">
        NO DATA AVAILABLE
      </h5>
    {{/if}}
  </div>
</div>
