{{#link-to vis.link}}
  <div class="card-wrap">
    <div class="vis-card">
      <i class="fa fa-question-circle question-mark pull-right" title="{{vis.tooltip}}" data-toggle="tooltip"></i>
      <i class="vis-icon {{vis.image}}"></i>
    </div>
    <div class="vis-name" title="{{vis.name}}">
      <i class="fa {{vis.icon}} fa-lg"></i>
      {{vis.name}}
    </div>
  </div>
{{/link-to}}
