{{main-sidebar workflowsActive='active'}}
{{workflow.workflow-sidebar operations=model.operations workflow=model.workflow}}
<div class="drawer container-fluid">
  {{workflow.option-bar workflow=model.workflow}}
  {{workflow.workflow-draw workflow=model.workflow operations=model.operations}}
  {{alert-box id="alert-box"
    confirmedTransition=(action "confirmedTransition")
    canceledTransition=(action "canceledTransition")
  }}
</div>
{{outlet}}
