{{confirmation-modal modal=modal content=modalContent onSubmit=(action "confirmedTransition") onCancel=(action "canceledTransition")}}
{{workflows/operations-sidebar id="operations-sidebar-wrapper" operations=model.operations groupedOperations=model.groupedOperations}}
<div id="diagram-container-wrapper" class="container-fluid">
  {{workflows/option-bar class="workflow-option-bar row" workflow=model.workflow hasChanged=(action "hasChanged") goTo=(action "goTo")}}
  {{workflows/workflow-draw id="workflow-draw" class="draw row" workflow=model.workflow operations=model.operations hasChanged=(action "hasChanged")}}
</div>
{{outlet}}
