{{main-sidebar workflowsActive='active'}}
<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title"> Creating new workflow:
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <form name="item" id="edit-workflow" {{action 'create' on='submit'}}>
    <div class="card card-block">
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Name: </label>
        <div class="col-sm-10">
          {{input type="text" class="form-control boxed" placeholder=model.workflow.name value=model.workflow.name}}
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Description: </label>
        <div class="col-sm-10">
          <div class="form-group">
            {{textarea class="form-control" id="description" rows="5"  maxlength="1600" height="30vh" value=model.workflow.description }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Plataform: </label>
        <div class="col-sm-10">
          <select class="c-select from-control boxed platform" id="platform" >
            {{#each model.platforms as |platform|}}
              <option value={{platform.id}} > {{platform.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right">
          Images:
        </label>
        <div class="col-sm-10">
          <div class="images-container">
            {{#each model.images as |image|}}
              <div href="#" {{action 'selectImage' image.id image.name on='click'}} class="image-container" id="img{{image.id}}">
                <img src="/assets/images/{{image.name}}" style="height:60px; width:60px;">
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Create</button>
          {{#link-to 'home.workflows'}}
            <button class="btn btn-danger">Cancel</button>
          {{/link-to}}
        </div>
      </div>
    </div>
  </form>
</article>
