<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{t 'latestUpdatedJobs'}}</h3>
    </div>
  </div>
  <div class="card-block" id="large-table-jobs">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'id'}}</th>
          <th>Workflow</th>
          <th>{{t 'status'}}</th>
          <th>{{t 'visualize'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each slicedModel as |job|}}
          {{cards/item-list-jobs job=job}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
