<div class="card" id='release-notes'>
  <div class="card-header">
    <div class="header-block">
      <h3 class="title">{{t 'latestEditedWorkflows'}}</h3>
    </div>
  </div>
  <div class="card-block" id="large-table-workflows">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{t 'id'}}</th>
          <th>{{t 'name'}}</th>
          <th>{{t 'options'}}</th>
          <th style="text-align: right;">{{t 'created'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each workflows as |workflow|}}
          {{#unless workflow.isDeleted}}
            {{cards/item-list-workflow workflow=workflow}}
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
    {{outlet}}
  </div>
</div>
