<td class="id">{{#link-to 'workflow.draw' workflow.id}}{{workflow.id}}{{/link-to}}</td>
<td class="name">{{#link-to 'workflow.draw' workflow.id}}{{workflow.name}}{{/link-to}}</td>
<td class="options">
  <div class="row">
    <div class="icon col-xs-3">
      {{#link-to 'workflow.edit' workflow.id}}{{fa-icon "cog" size="lg"}}{{/link-to}}
    </div>
    <div class="icon col-xs-3">
      {{#link-to 'workflow.draw' workflow.id}}{{fa-icon "pencil" size="lg"}}{{/link-to}}
    </div>
    <div class="icon col-xs-3">
      <a class="remove" {{action 'deleteWorkflow' workflow}} href="#" >{{fa-icon "trash" size="lg"}}</a>
    </div>
  </div>
</td>
<td class="date">{{format-date workflow.updated}}</td>
{{#bs-modal open=modal3 size=size fade=fade backdrop=false workflow=workflow backdropClose=true onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Deleting workflow {{name}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    Are you sure, you want to delete this workflow?
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="success" onClick=(action 'submit' toDelete)}}Delete{{/bs-button}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}


