<div id="main-wrapper" class="main wrapper">
  {{main-sidebar id="main-sidebar-wrapper" class="main sidebar wrapper" }}
  <div id="main-content-wrapper" class="main content wrapper">
    {{app-header tagName="header" class="header"}}
    <div id="page-content-wrapper" class="container-fluid page content wrapper">
      <article class="content dashboard-page">
        <section class="section">
          <div class="row sameheight-container">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6">
              {{cards/card-video-tutorial videoTutorial=model.videoTutorial}}
              {{cards/card-release-notes releaseNotes=model.releaseNotes}}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
              {{cards/card-latest-workflows workflows=model.workflows}}
              {{cards/card-latest-jobs workflows=model.workflows jobs=model.jobs}}
            </div>
          </div>
        </section>
      </article>
      {{outlet}}
    </div><!-- page-content-wrapper -->
  </div><!--main-content-wrapper-->
</div><!--main-wrapper-->

<!-- Tooltipster markup -->
<div class='tooltipster-visualization tooltipster-base tooltipster-sidetip tooltipster-top tooltipster-fade tooltipster-show'>
  <div class='tooltipster-box'>
    <div class='tooltipster-content'></div>
  </div>
  <div class='tooltipster-arrow'>
    <div class='tooltipster-arrow-uncropped'>
      <div class='tooltipster-arrow-border'></div>
      <div class='tooltipster-arrow-background'></div>
    </div>
  </div>
</div>

<!-- Loading markup -->
<div class="loading-div">
  <div class="loading-div-inner">
    <div class="loader">
      <i class='fa fa-spinner fa-pulse fa-3x'></i>
    </div>
  </div>
</div>
