<header id="header-wrap">
  {{landing-page-header}}
  {{landing-page-menu-image}}
</header>
{{landing-page-aboutus}}
{{landing-page-ourservices}}
{{landing-page-team}}




{{landing-page-footer}}

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-angle-up">
  </i>
</a>

<div class="bottom"> <a href="#" class="settings"></a> </div>


