<header id="header-wrap">
  {{landing-page-header}}
  {{landing-page-menu-image}}
</header>
{{landing-page-aboutus}}
{{landing-page-infos}}
{{landing-page-ourservices}}
{{landing-page-features}}
{{landing-page-team}}


<!-- Testimonial Section -->
<section id="testimonial" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="testimonial-item" class="owl-carousel">
          <div class="item">
            <div class="testimonial-inner">
              <div class="testimonial-images">
                <img class="img-circle" src="assets/img/testimonial/img1.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <p>
                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                </p>
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-quote-left"></i>
                Steve Austin <a href="#">envato.com </a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-inner">
              <div class="testimonial-images">
                <img class="img-circle" src="assets/img/testimonial/img2.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <p>
                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                </p>
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-quote-left"></i>
                Chelsey Siltanen<a href="#">Microsoft</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-inner">
              <div class="testimonial-images">
                <img class="img-circle" src="assets/img/testimonial/img3.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <p>
                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                </p>
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-quote-left"></i>
                Pamela Fox<a href="#">Khan Academy</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-inner">
              <div class="testimonial-images">
                <img class="img-circle" src="assets/img/testimonial/img4.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <p>
                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                </p>
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-quote-left"></i>
                janna Hagan<a href="#">Google</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-inner">
              <div class="testimonial-images">
                <img class="img-circle" src="assets/img/testimonial/img5.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <p>
                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                </p>
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-quote-left"></i>
                Paul Tweedy<a href="#">BBC</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Container Ends -->
</section>
<!-- Testimonial Section End -->

<!-- Footer Section -->
{{landing-page-footer}}
<!-- Footer Section End-->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="fa fa-angle-up">
  </i>
</a>

<div class="bottom"> <a href="#" class="settings"></a> </div>


