<header id="header-wrap">
  {{landing-page.landing-page-header}}
</header>
{{landing-page.landing-page-menu-image}}
{{landing-page.landing-page-aboutus}}
{{landing-page.landing-page-ourservices}}
{{landing-page.landing-page-team}}
{{landing-page.landing-page-footer}}

<a href="#" class="back-to-top">
  <i class="fa fa-angle-up">
  </i>
</a>
