<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <!--TODO-->
          <div class="logo"></div>
          Lemonade
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-xs-center">LOGIN TO CONTINUE</p>
        <form id="login-form" {{action 'authenticate' on='submit'}}>
          <div class={{emailFormGroup}} >
            <label for="email">Email</label>
            {{input type='email' class='form-control underlined' name='email' id='email' placeholder="Your email address" value=email}}
            {{#if invalidEmailErrorMessage}}<span id="email-error" class="has-error">{{invalidEmailErrorMessage}}</span>{{/if}}
          </div>
          <div class={{passwordFormGroup}}>
            <label for="password">Password</label>
            {{input type='password' class='form-control underlined' name='password' id='password' placeholder='Your password' value=password}}
            {{#if invalidPasswordErrorMessage}}<span id="email-error" class="has-error">{{invalidPasswordErrorMessage}}</span>{{/if}}
          </div>
          <div class="form-group">
            <!-- TODO -->
            <label for="remember">
              {{input class="checkbox" id="remember" type="checkbox" checked=remember}}
              <span>Remember me</span>
            </label>
            <a class="forgot-btn pull-right" >{{#link-to "password.request"}} Forgot password? {{/link-to}}</a>
          </div>
          <div class="form-group">
            <button id="login" type="submit" class="btn btn-block btn-primary">Login</button>
          </div>
          <div class="form-group">
            <p class="text-muted text-xs-center">Do not have an account?
            <a>{{#link-to "signup"}}Sign Up!{{/link-to}}</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




