<div id="page-content-wrapper" class="container-fluid page content wrapper vis-test">

  <div class='page-header'>
    <span class='page-title'><i class='fa {{model.icon}}'></i>{{model.title}}</span>
    <span class='page-subtitle'>{{model.subtitle}}</span>
    <span class='page-description'>{{model.description}}</span>
  </div>

  {{!-- Visualization wrapper component --}}
  {{ visualizations/vis-wrapper viz=model dataUrl=model.dataUrl }}

</div>
